{{#> Layout 
  title="Boiler | Horizontal"
  namespace="horizontal"
}}
  <div class="grid-horizontal">
    <div class="mask">
      <div 
        class="img-box"
        data-scroll-el="" 
        {{!-- data-scroll-position="element" 
        data-scroll-speed="-0.1" --}}
      >
        <img src="/assets/img01.jpg"/>
      </div>
    </div>
    <div class="mask">
      <div 
        class="img-box"
        data-scroll-el="" 
        {{!-- data-scroll-position="element" 
        data-scroll-speed="-0.1" --}}
      >
        <img src="/assets/img02.jpg"/>
      </div>
    </div>
    <div class="mask">
      <div 
        class="img-box"
        data-scroll-el="" 
        {{!-- data-scroll-position="element" 
        data-scroll-speed="-0.1" --}}
      >
        <img src="/assets/img03.jpg"/>
      </div>
    </div>
    <div class="mask">
      <div 
        class="img-box"
        data-scroll-el="" 
        {{!-- data-scroll-position="element" 
        data-scroll-speed="-0.1" --}}
      >
        <img src="/assets/img04.jpg"/>
      </div>
    </div>
    <div class="mask">
      <div 
        class="img-box"
        data-scroll-el="" 
        {{!-- data-scroll-position="element" 
        data-scroll-speed="-0.1" --}}
      >
        <img src="/assets/img05.jpg"/>
      </div>
    </div>
    <div class="mask">
      <div 
        class="img-box"
        data-scroll-el="" 
        {{!-- data-scroll-position="element" 
        data-scroll-speed="-0.1" --}}
      >
        <img src="/assets/img06.webp"/>
      </div>
    </div>
    <div class="mask">
      <div 
        class="img-box"
        data-scroll-el="" 
        {{!-- data-scroll-position="element" 
        data-scroll-speed="-0.1" --}}
      >
        <img src="/assets/img01.jpg"/>
      </div>
    </div>
    <div class="mask">
      <div 
        class="img-box"
        data-scroll-el="" 
        {{!-- data-scroll-position="element" 
        data-scroll-speed="-0.1" --}}
      >
        <img src="/assets/img02.jpg"/>
      </div>
    </div>
    <div class="mask">
      <div 
        class="img-box"
        data-scroll-el="" 
        {{!-- data-scroll-position="element" 
        data-scroll-speed="-0.1" --}}
      >
        <img src="/assets/img03.jpg"/>
      </div>
    </div>
    <div class="mask">
      <div 
        class="img-box"
        data-scroll-el="" 
        {{!-- data-scroll-position="element" 
        data-scroll-speed="-0.1" --}}
      >
        <img src="/assets/img01.jpg"/>
      </div>
    </div>
    <div class="mask">
      <div 
        class="img-box"
        data-scroll-el="" 
        {{!-- data-scroll-position="element" 
        data-scroll-speed="-0.1" --}}
      >
        <img src="/assets/img02.jpg"/>
      </div>
    </div>
    <div class="mask">
      <div 
        class="img-box"
        data-scroll-el="" 
        {{!-- data-scroll-position="element" 
        data-scroll-speed="-0.1" --}}
      >
        <img src="/assets/img03.jpg"/>
      </div>
    </div>
  </div>
{{/ Layout }}