{{#> Layout title="Boiler | Styleguide" }}
  {{#>
    Spacer 
    top="m"
    md=(object top="l")
    class="debug"
  }}
    {{#> Text class="text-xxxl" }}
      Lorem Ipsum
    {{/ Text }}
    {{#> Text as="h1" }}
      Lorem Ipsum
    {{/ Text }}
    {{#> Text as="h2" }}
      Lorem Ipsum
    {{/ Text }}
    {{#> Text as="h3" }}
      Lorem Ipsum
    {{/ Text }}
    {{#> Text as="h4" }}
      Lorem Ipsum
    {{/ Text }}
    {{#> Text as="p" }}
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Eligendi nulla molestias ut quis ipsum minus similique iste architecto.
      Aspernatur iusto magni consequatur veniam voluptate ratione nemo dignissimos!
      Voluptates, reprehenderit sit.
    {{/ Text }}
    {{#> Text class="text-sm" }}
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Eligendi nulla molestias ut quis ipsum minus similique iste architecto.
      Aspernatur iusto magni consequatur veniam voluptate ratione nemo dignissimos!
      Voluptates, reprehenderit sit.
    {{/ Text }}
    {{#> Text class="text-xs" }}
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Eligendi nulla molestias ut quis ipsum minus similique iste architecto.
      Aspernatur iusto magni consequatur veniam voluptate ratione nemo dignissimos!
      Voluptates, reprehenderit sit.
    {{/ Text }}
    {{#>
      Flex 
      as="section"
      align="center"
      justify="center"
      class=""
    }}
      <div>✌</div>
      <div>✌</div>
      <div>✌</div>
    {{/ Flex }}
  {{/ Spacer }}
{{/ Layout }}