{{#> Layout 
  title="Boiler | Homepage"
  namespace="index"
}}
  <div class="slider" data-component="slider">
      <div data-slider-track class="slider-track">
        <div data-slider-item class="slider-item">
          <div class="slide">
            <img src="/assets/img01.jpg"/>
          </div>
        </div>
        <div data-slider-item class="slider-item">
          <div class="slide">
            <img src="/assets/img02.jpg"/>
          </div>
        </div>
        <div data-slider-item class="slider-item">
          <div class="slide">
            <img src="/assets/img03.jpg"/>
          </div>
        </div>
        <div data-slider-item class="slider-item">
          <div class="slide">
            <img src="/assets/img04.jpg"/>
          </div>
        </div>
        <div data-slider-item class="slider-item">
          <div class="slide">
            <img src="/assets/img05.jpg"/>
          </div>
        </div>
        <div data-slider-item class="slider-item">
          <div class="slide">
            <img src="/assets/img06.webp"/>
          </div>
        </div>
    </div>
    {{!-- <button class="slider-button" data-slider-prev>prev</button>
    <button class="slider-button" data-slider-next>next</button>
    <div>
      <button data-slider-bullet>1</button>
      <button data-slider-bullet>2</button>
      <button data-slider-bullet>3</button>
      <button data-slider-bullet>4</button>
      <button data-slider-bullet>5</button>
    </div> --}}
  </div>
{{/ Layout }}