.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-inline {
  display: inline-flex;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
@media (--xs) {
  .xs-flex-wrap {
    flex-wrap: wrap;
  }
  .xs-flex-row {
    flex-direction: row;
  }
  .xs-flex-justify-between {
    justify-content: space-between;
  }
  .xs-flex-align-end {
    align-items: flex-end;
  }
}
@media (--sm) {
  .sm-flex-wrap {
    flex-wrap: wrap;
  }
}
@media (--md) {
  .md-flex-wrap {
    flex-wrap: wrap;
  }
}
