:root {
  --space-unit: 1em;
  --space-xxs: calc(0.375 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-s: calc(0.75 * var(--space-unit));
  --space-m: calc(1.25 * var(--space-unit));
  --space-l: calc(2 * var(--space-unit));
  --space-xl: 5.208vw;
  --space-xxl: calc(5.25 * var(--space-unit));
}

.root-top-l {
  padding-top: var(--space-l);
}
.root-top-xl {
  padding-top: var(--space-xl);
}
.root-top-xxl {
  padding-top: var(--space-xxl);
}

.spacer-left-n > * + * {
  padding-left: 0;
}
.spacer-left-xxs > * + * {
  padding-left: var(--space-xxs);
}
.spacer-left-xs > * + * {
  padding-left: var(--space-xs);
}
.spacer-left-s > * + * {
  padding-left: var(--space-s);
}
.spacer-left-m > * + * {
  padding-left: var(--space-m);
}
.spacer-left-l > * + * {
  padding-left: var(--space-l);
}
.spacer-left-xl > * + * {
  padding-left: var(--space-xl);
}
.spacer-left-xxl > * + * {
  padding-left: var(--space-xxl);
}
.spacer-top-n > * + * {
  padding-top: 0;
}
.spacer-top-xxs > * + * {
  padding-top: var(--space-xxs);
}
.spacer-top-xs > * + * {
  padding-top: var(--space-xs);
}
.spacer-top-s > * + * {
  padding-top: var(--space-s);
}
.spacer-top-m > * + * {
  padding-top: var(--space-m);
}
.spacer-top-l > * + * {
  padding-top: var(--space-l);
}
.spacer-top-xl > * + * {
  padding-top: var(--space-xl);
}
.spacer-top-xxl > * + * {
  padding-top: var(--space-xxl);
}
@media (--xs) {
  .xs-spacer-left-n > * + * {
    padding-left: 0;
  }
  .xs-spacer-left-xxs > * + * {
    padding-left: var(--space-xxs);
  }
  .xs-spacer-left-xs > * + * {
    padding-left: var(--space-xs);
  }
  .xs-spacer-left-s > * + * {
    padding-left: var(--space-s);
  }
  .xs-spacer-left-m > * + * {
    padding-left: var(--space-m);
  }
  .xs-spacer-left-l > * + * {
    padding-left: var(--space-l);
  }
  .xs-spacer-left-xl > * + * {
    padding-left: var(--space-xl);
  }
  .xs-spacer-left-xxl > * + * {
    padding-left: var(--space-xxl);
  }
  .xs-spacer-top-n > * + * {
    padding-top: 0;
  }
  .xs-spacer-top-xxs > * + * {
    padding-top: var(--space-xxs);
  }
  .xs-spacer-top-xs > * + * {
    padding-top: var(--space-xs);
  }
  .xs-spacer-top-s > * + * {
    padding-top: var(--space-s);
  }
  .xs-spacer-top-m > * + * {
    padding-top: var(--space-m);
  }
  .xs-spacer-top-l > * + * {
    padding-top: var(--space-l);
  }
  .xs-spacer-top-xl > * + * {
    padding-top: var(--space-xl);
  }
  .xs-spacer-top-xxl > * + * {
    padding-top: var(--space-xxl);
  }
  .xs-root-top-n {
  padding-top: var(--space-l);
}
}
@media (--sm) {
  .sm-spacer-left-n > * + * {
    padding-left: 0;
  }
  .sm-spacer-left-xxs > * + * {
    padding-left: var(--space-xxs);
  }
  .sm-spacer-left-xs > * + * {
    padding-left: var(--space-xs);
  }
  .sm-spacer-left-s > * + * {
    padding-left: var(--space-s);
  }
  .sm-spacer-left-m > * + * {
    padding-left: var(--space-m);
  }
  .sm-spacer-left-l > * + * {
    padding-left: var(--space-l);
  }
  .sm-spacer-left-xl > * + * {
    padding-left: var(--space-xl);
  }
  .sm-spacer-left-xxl > * + * {
    padding-left: var(--space-xxl);
  }
  .sm-spacer-top-n > * + * {
    padding-top: 0;
  }
  .sm-spacer-top-xxs > * + * {
    padding-top: var(--space-xxs);
  }
  .sm-spacer-top-xs > * + * {
    padding-top: var(--space-xs);
  }
  .sm-spacer-top-s > * + * {
    padding-top: var(--space-s);
  }
  .sm-spacer-top-m > * + * {
    padding-top: var(--space-m);
  }
  .sm-spacer-top-l > * + * {
    padding-top: var(--space-l);
  }
  .sm-spacer-top-xl > * + * {
    padding-top: var(--space-xl);
  }
  .sm-spacer-top-xxl > * + * {
    padding-top: var(--space-xxl);
  }
}
@media (--md) {
  .md-spacer-left-n > * + * {
    padding-left: 0;
  }
  .md-spacer-left-xxs > * + * {
    padding-left: var(--space-xxs);
  }
  .md-spacer-left-xs > * + * {
    padding-left: var(--space-xs);
  }
  .md-spacer-left-s > * + * {
    padding-left: var(--space-s);
  }
  .md-spacer-left-m > * + * {
    padding-left: var(--space-m);
  }
  .md-spacer-left-l > * + * {
    padding-left: var(--space-l);
  }
  .md-spacer-left-xl > * + * {
    padding-left: var(--space-xl);
  }
  .md-spacer-left-xxl > * + * {
    padding-left: var(--space-xxl);
  }
  .md-spacer-top-n > * + * {
    padding-top: 0;
  }
  .md-spacer-top-xxs > * + * {
    padding-top: var(--space-xxs);
  }
  .md-spacer-top-xs > * + * {
    padding-top: var(--space-xs);
  }
  .md-spacer-top-s > * + * {
    padding-top: var(--space-s);
  }
  .md-spacer-top-m > * + * {
    padding-top: var(--space-m);
  }
  .md-spacer-top-l > * + * {
    padding-top: var(--space-l);
  }
  .md-spacer-top-xl > * + * {
    padding-top: var(--space-xl);
  }
  .md-spacer-top-xxl > * + * {
    padding-top: var(--space-xxl);
  }
}
